{% extends 'temp/morg.html' %}
{% block base %}

<!DOCTYPE html>
<html>
<head>
	<title>view_application</title>
</head>
<body>
	<center>
    <section>
		<h2>VIEW APPLICATION</h2>
	<table border="1" class="table table-striped">
		<tr>
			<td>certificate</td>
            <td>rules</td>
        </tr>
        {% for i in x %}
        <tr>
        	<td>{{ i.cert_details.name }}</td>
        	<td><img src="/static/{{ i.rules }}" height="100px" width="100px"></td>
        </tr>
        {% endfor %}
    </table>
    </section>
    </center>
</body>
</html>
{% endblock %}
